* {
  background-color: rgb(221, 221, 221);
  font-family: Alumni Sans Pinstripe;
}
.heart {
  font-size: 4vw;
  margin-right: 9vw;
  margin-left: 9vw;
}
h1 {
  text-align: center;
  color: rgb(184, 173, 165);
  font-size: 6vw;
  display: inline-block;
}
.titleContainer {
  text-align: center;
  white-space: nowrap;
}

.info {
  display: inline-block;
  color: rgb(95, 92, 88);
  font-size: 3vw;
  font-weight: bold;
}
.infoContainer {
  border: solid;
  border-color: white;
  border-width: thin;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.textBox {
  height: 3vw;
  width: 6vw;
  margin-left: 1vw;
  border: solid;
  border-color: rgb(176, 167, 154);
  font-size: 2vw;
  font-weight: bold;
}
.calculateButton {
  background-color: rgba(200, 188, 176, 0.412);
  border-color: white;
  color: rgb(68, 65, 62);
  font-weight: bolder;
  margin-top: 3vw;
  margin-bottom: 3vw;
  height: 5vw;
  width: 15vw;
  font-size: 2.5vw;
  border-radius: 2.5vw;
  cursor: pointer;
  border-style: none;
}
.calculateButton:hover{
  background-color: rgba(183, 177, 169, 0.351);
  color:white;
}


.message {
  font-size: 4vw;
  color: rgb(149, 146, 142);
  margin-bottom: 0;
  margin-top: 0;
}
span.result {
  text-decoration: underline;
  font-weight: bold;
}

.resultContainer {
  text-align: center;
}

.bmiChart {
  border-collapse: collapse;
  font-size: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  margin-top: 2vw;
}
th {
  color: rgb(99, 97, 95);
  background-color: rgba(255, 255, 255, 0.599);
}
td {
  color: rgb(128, 125, 116);
  text-align: center;
  background-color: rgba(148, 134, 119, 0.157);
}
td,
th {
  border: 0.2vw solid rgb(231, 229, 229);
  padding: 1vw;
}

.afterCalculateContainer {
  border: solid;
  border-color: white;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  border-width: 0.1vw;
  text-align: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
  display: none;
}

.removeMargin {
  margin-bottom: 0;
}
